* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0.6em;
}

ul {
  list-style: none;
}

nav {
  text-align: center;
  border: 1px solid black;
  border-radius: 2rem;
}

h1 {
  color: white;
  background-color: green;
  font-size: 3rem;
  border-radius: 2rem 2rem 0 0;
  padding: 1rem;
}

li {
  font-size: 2rem;
  border-top: 1px solid grey;
}

li a {
  display: block;
  padding: 1rem 0 1rem 0;
}

li a,
li a:visited {
  text-decoration: none;
  color: #333;
}

li a:hover,
li a:focus {
  color: white;
  background: #333;
  cursor: pointer;
}

li:last-child a {
  border-radius: 0 0 2rem 2rem;
}
